wsdl/emta-v6.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://emta-v6.x-road.eu" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emta-v6.x-road.eu">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emta-v6.x-road.eu">
            <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
            <element name="debtTop1500" type="tns:debtTop1500Type"/>
            <element name="debtTop1500Response" type="tns:debtTop1500ResponseType"/>
            <complexType name="debtTop1500Type">
                <sequence>
                    <element name="request" type="tns:debtTop1500RequestType"/>
                </sequence>
            </complexType>
            <complexType name="debtTop1500RequestType">
                <sequence>
                    <element minOccurs="0" name="created" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Võlglaste aruande koostamise aeg (KK.AAAA)</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <complexType name="debtTop1500ResponseType">
                <sequence>
                    <element name="request" type="tns:debtTop1500RequestType"/>
                    <element name="response" type="tns:binaryMetaType"/>
                </sequence>
            </complexType>
            <complexType name="binaryMetaType">
                <sequence>
                    <element name="created" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title>Aruande loomise kuupäev (AAAA-KK-PP)</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="sha1sum" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>SHA1SUM kontrollsumma</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="file" type="tns:fileType">
                        <annotation>
                            <appinfo>
                                <xrd:title>Viit manusele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <complexType name="fileType">
                <simpleContent>
                    <extension base="base64Binary">
                        <attribute name="href" type="string"/>
                    </extension>
                </simpleContent>
            </complexType>
            <element name="uploadMime">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:uploadMimeType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="uploadMimeResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:uploadMimeType"/>
                        <element name="response" type="tns:uploadMimeResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="downloadMime">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:downloadMimeType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="downloadMimeResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:downloadMimeType"/>
                        <element name="response" type="tns:downloadMimeResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="uploadMimeType">
                <sequence>
                    <element name="target" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Teenuse nimi</xrd:title>
                                <xrd:notes>Maksu- ja Tolliameti süsteemi (teenus) lühinimi, näiteks TSD, KMD</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="operation" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Meetodi nimi</xrd:title>
                                <xrd:notes>Käivitatava meetodi nimi, näiteks KinnitaDeklaratsioon</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="file">
                        <annotation>
                            <appinfo>
                                <xrd:title>Manus</xrd:title>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="hexBinary">
                                    <attribute name="href" type="string"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element minOccurs="0" name="props">
                        <annotation>
                            <appinfo>
                                <xrd:title>Manuse metaandmed</xrd:title>
                                <xrd:notes>Manust kirjeldavad parameetrid, ei ole kohustuslikud</xrd:notes>
                                <xrd:appearance>compact</xrd:appearance>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="unbounded" minOccurs="0" name="prop">
                                    <annotation>
                                        <appinfo>
                                            <xrd:title>Parameetri väärtus</xrd:title>
                                        </appinfo>
                                    </annotation>
                                    <complexType>
                                        <simpleContent>
                                            <extension base="string">
                                                <attribute name="key" type="string" use="required">
                                                    <annotation>
                                                        <appinfo>
                                                            <xrd:title>Parameetri nimi</xrd:title>
                                                        </appinfo>
                                                    </annotation>
                                                </attribute>
                                            </extension>
                                        </simpleContent>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="uploadMimeResponseType">
                <sequence>
                    <element name="messages">
                        <annotation>
                            <appinfo>
                                <xrd:title>Kaugsüsteemi vastus</xrd:title>
                                <xrd:notes>Vastuseid (kood/kirjeldus) võib olla rohkem kui üks</xrd:notes>
                                <xrd:appearance>compact</xrd:appearance>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="unbounded" name="item">
                                    <complexType>
                                        <sequence>
                                            <element name="code" type="string">
                                                <annotation>
                                                    <appinfo>
                                                        <xrd:title>Kood</xrd:title>
                                                    </appinfo>
                                                </annotation>
                                            </element>
                                            <element name="description" type="string">
                                                <annotation>
                                                    <appinfo>
                                                        <xrd:title>Kirjeldus</xrd:title>
                                                    </appinfo>
                                                </annotation>
                                            </element>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="downloadMimeType">
                <sequence>
                    <element name="target" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Teenuse nimi</xrd:title>
                                <xrd:notes>Maksu- ja Tolliameti süsteemi lühinimi (TSD, KMD, ...)</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <complexType name="downloadMimeResponseType">
                <sequence>
                    <choice>
                        <sequence>
                            <element name="faultCode" type="string"/>
                            <element name="faultString" type="string"/>
                        </sequence>
                        <sequence>
                            <element minOccurs="0" name="file">
                                <annotation>
                                    <appinfo>
                                        <xrd:title>Manus</xrd:title>
                                        <xrd:techNotes>Viide manusele (Content-Id)</xrd:techNotes>
                                    </appinfo>
                                </annotation>
                                <complexType>
                                    <attribute name="href" type="string"/>
                                </complexType>
                            </element>
                            <element name="props">
                                <annotation>
                                    <appinfo>
                                        <xrd:title>Manuse metaandmed</xrd:title>
                                        <xrd:notes>Manust kirjeldavad parameetrid</xrd:notes>
                                    </appinfo>
                                </annotation>
                                <complexType>
                                    <sequence>
                                        <element maxOccurs="unbounded" minOccurs="0" name="prop">
                                            <annotation>
                                                <documentation>Parameetri väärtus</documentation>
                                            </annotation>
                                            <complexType>
                                                <simpleContent>
                                                    <extension base="string">
                                                        <attribute name="key" type="string" use="required">
                                                            <annotation>
                                                                <documentation>Parameetri nimi</documentation>
                                                            </annotation>
                                                        </attribute>
                                                    </extension>
                                                </simpleContent>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </choice>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="xrdHeader">
        <wsdl:part element="xrd:client" name="client"/>
        <wsdl:part element="xrd:service" name="service"/>
        <wsdl:part element="xrd:id" name="id"/>
        <wsdl:part element="xrd:userId" name="userId"/>
        <wsdl:part element="xrd:issue" name="issue"/>
        <wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
    </wsdl:message>
    <wsdl:message name="debtTop1500">
        <wsdl:part element="tns:debtTop1500" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="debtTop1500Response">
        <wsdl:part element="tns:debtTop1500Response" name="parameters"/>
        <wsdl:part name="attachment" type="xsd:base64Binary"/>
    </wsdl:message>
    <wsdl:message name="uploadMime">
        <wsdl:part element="tns:uploadMime" name="parameters"/>
        <wsdl:part name="attachment" type="xsd:base64Binary"/>
    </wsdl:message>
    <wsdl:message name="uploadMimeResponse">
        <wsdl:part element="tns:uploadMimeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="downloadMime">
        <wsdl:part element="tns:downloadMime" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="downloadMimeResponse">
        <wsdl:part element="tns:downloadMimeResponse" name="parameters"/>
        <wsdl:part name="attachment" type="xsd:base64Binary"/>
    </wsdl:message>
    <wsdl:portType name="webServiceInterface">
        <wsdl:operation name="debtTop1500">
            <wsdl:documentation>
                <xrd:title>Maksuvõlglaste TOP 1500</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:debtTop1500"/>
            <wsdl:output message="tns:debtTop1500Response"/>
        </wsdl:operation>
        <wsdl:operation name="uploadMime">
            <wsdl:documentation>
                <xrd:title>Failide edastamise teenus</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:uploadMime"/>
            <wsdl:output message="tns:uploadMimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="downloadMime">
            <wsdl:documentation>
                <xrd:title>Failide allalaadimise teenus</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:downloadMime"/>
            <wsdl:output message="tns:downloadMimeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="soapBindings" type="tns:webServiceInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="debtTop1500">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <mime:multipartRelated>
                    <mime:part name="soap">
                        <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                        <soap:body parts="parameters" use="literal"/>
                    </mime:part>
                    <mime:part name="attachment">
                        <mime:content part="attachment" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadMime">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <mime:multipartRelated>
                    <mime:part name="soap">
                        <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                        <soap:body parts="parameters" use="literal"/>
                    </mime:part>
                    <mime:part name="attachment">
                        <mime:content part="attachment" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadMime">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <mime:multipartRelated>
                    <mime:part name="soap">
                        <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                        <soap:body parts="parameters" use="literal"/>
                    </mime:part>
                    <mime:part name="attachment">
                        <mime:content part="attachment" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="webService">
        <wsdl:port binding="tns:soapBindings" name="port">
            <soap:address location="http://SERVER_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
