src/test/resources/document-literal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://emta-v6.x-road.eu"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" targetNamespace="http://emta-v6.x-road.eu">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emta-v6.x-road.eu">
            <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

            <!-- Service 1 request/response -->
            <element name="service1">
                <complexType>
                    <sequence>
                        <element name="arg1" type="string">
                            <annotation>
                                <appinfo>
                                    <xrd:title>First argument</xrd:title>
                                </appinfo>
                            </annotation>
                        </element>
                        <element name="arg2" type="string">
                            <annotation>
                                <appinfo>
                                    <xrd:title>Second argument</xrd:title>
                                </appinfo>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="service1Response">
                <complexType>
                    <sequence>
                        <element name="result" type="string">
                            <annotation>
                                <appinfo>
                                    <xrd:title>Result data</xrd:title>
                                </appinfo>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>

            <!-- Service 2 request/response -->
            <element name="service2" type="tns:service2RequestType">
                <annotation>
                    <appinfo>
                        <xrd:title>Service 2 request</xrd:title>
                    </appinfo>
                </annotation>
            </element>
            <complexType name="service2RequestType">
                <sequence>
                    <element name="arg1" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>First argument</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="arg2" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Second argument</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <element name="service2Response" type="tns:service2ResponseType">
                <annotation>
                    <appinfo>
                        <xrd:title>Service 2 response</xrd:title>
                    </appinfo>
                </annotation>
            </element>
            <complexType name="service2ResponseType">
                <sequence>
                    <element name="result" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Result data</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <!-- Service 3 request/response -->
            <element name="service3" type="tns:service3RequestType"/>
            <complexType name="service3RequestType">
                <sequence>
                    <element name="arg1" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>First argument</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="arg2" type="tns:code">
                        <annotation>
                            <appinfo>
                                <xrd:title>Second argument</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
                <attribute ref="tns:baseAttribute" use="required"/>
            </complexType>
            <simpleType name="code">
                <restriction base="string">
                    <length value="4"/>
                </restriction>
            </simpleType>
            <attribute name="baseAttribute" type="tns:baseAttributeType"/>
            <simpleType name="baseAttributeType">
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9"/>
                </restriction>
            </simpleType>
            <element name="service3Response" type="tns:service3ResponseType"/>
            <complexType name="service3ResponseType">
                <sequence>
                    <element ref="tns:goods"/>
                </sequence>
            </complexType>
            <element name="goods" type="tns:service3GoodsNode"/>
            <complexType name="service3GoodsNode">
                <complexContent>
                    <extension base="tns:goodsNode">
                        <sequence>
                            <element minOccurs="0" name="commodityCode" type="string"/>
                            <element maxOccurs="unbounded" minOccurs="0" name="footnoteCodes" nillable="true" type="string"/>
                            <element minOccurs="0" name="measureAttachable" type="boolean"/>
                            <element minOccurs="0" name="productLineSuffix" type="string"/>
                            <element minOccurs="0" name="statisticalIndicator" type="string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType abstract="true" name="goodsNode">
                <complexContent>
                    <extension base="tns:baseNode">
                        <sequence>
                            <element minOccurs="0" name="declarable" type="boolean"/>
                            <element minOccurs="0" name="description" type="string"/>
                            <element minOccurs="0" name="endDate" type="dateTime"/>
                            <element minOccurs="0" name="indent" type="int"/>
                            <element minOccurs="0" name="languageCode" type="string"/>
                            <element minOccurs="0" name="nationalAbbreviation" type="string"/>
                            <element minOccurs="0" name="sid" type="long"/>
                            <element minOccurs="0" name="startDate" type="dateTime"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="baseNode">
                <sequence>
                    <element minOccurs="0" name="national" type="boolean"/>
                </sequence>
            </complexType>

            <!-- Services business fault -->
            <element name="businessException" type="tns:businessExceptionType"/>
            <complexType name="businessExceptionType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="args" nillable="true" type="string"/>
                    <element minOccurs="0" name="errorCode" type="string"/>
                    <element minOccurs="0" name="message" type="string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="service1">
        <wsdl:part element="tns:service1" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="service1Response">
        <wsdl:part element="tns:service1Response" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="service2">
        <wsdl:part element="tns:service2" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="service2Response">
        <wsdl:part element="tns:service2Response" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="service3">
        <wsdl:part element="tns:service3" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="service3Response">
        <wsdl:part element="tns:service3Response" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="businessException">
        <wsdl:part element="tns:businessException" name="fault"/>
    </wsdl:message>
    <wsdl:message name="xrdHeader">
        <wsdl:part element="xrd:client" name="client"/>
        <wsdl:part element="xrd:service" name="service"/>
        <wsdl:part element="xrd:id" name="id"/>
        <wsdl:part element="xrd:userId" name="userId"/>
        <wsdl:part element="xrd:issue" name="issue"/>
        <wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
    </wsdl:message>
    <wsdl:portType name="servicesPortType">
        <wsdl:operation name="service1">
            <wsdl:documentation>
                <xrd:title>Test service 1</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:service1"/>
            <wsdl:output message="tns:service1Response"/>
        </wsdl:operation>
        <wsdl:operation name="service2">
            <wsdl:documentation>
                <xrd:title>Test service 2</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:service2"/>
            <wsdl:output message="tns:service2Response"/>
        </wsdl:operation>
        <wsdl:operation name="service3">
            <wsdl:documentation>
                <xrd:title>Test service 3</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:service3"/>
            <wsdl:output message="tns:service3Response"/>
            <wsdl:fault message="tns:businessException" name="businessException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="servicesBind" type="tns:servicesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="service1">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="service2">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="service3">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="businessException">
                <soap:fault name="businessException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="services">
        <wsdl:port binding="tns:servicesBind" name="servicesPort">
            <soap:address location="http://TURVASERVER/"/>
            <xrd:title>Maksu- ja Tolliameti X-tee teenused</xrd:title>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
