src/test/resources/valid_mime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://emta-v6.x-road.eu"
        xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://emta-v6.x-road.eu">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emta-v6.x-road.eu">
            <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
            <element name="upload">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:fileType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="fileType">
                <sequence>
                    <element name="file" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Faili nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <element name="uploadResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:fileType"/>
                        <element name="response" type="tns:statusType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="statusType">
                <sequence>
                    <element name="status">
                        <annotation>
                            <appinfo>
                                <xrd:title>(N)OK vastus</xrd:title>
                            </appinfo>
                        </annotation>
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="OK"/>
                                <enumeration value="NOK"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </complexType>
            <element name="download">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:fileType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="downloadResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:fileType"/>
                        <element name="response" type="tns:statusType"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="upload">
        <wsdl:part element="tns:upload" name="parameters"/>
        <wsdl:part name="file" type="xsd:base64Binary"/>
    </wsdl:message>
    <wsdl:message name="uploadResponse">
        <wsdl:part element="tns:uploadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="download">
        <wsdl:part element="tns:download" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="downloadResponse">
        <wsdl:part element="tns:downloadResponse" name="parameters"/>
        <wsdl:part name="file" type="xsd:base64Binary"/>
    </wsdl:message>
    <wsdl:message name="xrdHeader">
        <wsdl:part element="xrd:client" name="client"/>
        <wsdl:part element="xrd:service" name="service"/>
        <wsdl:part element="xrd:id" name="id"/>
        <wsdl:part element="xrd:userId" name="userId"/>
        <wsdl:part element="xrd:issue" name="issue"/>
        <wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
    </wsdl:message>
    <wsdl:portType name="mimePort">
        <wsdl:operation name="upload">
            <wsdl:documentation>
                <xrd:title>Upload teenus</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:upload"/>
            <wsdl:output message="tns:uploadResponse"/>
        </wsdl:operation>
        <wsdl:operation name="download">
            <wsdl:documentation>
                <xrd:title>Download teenus</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:download"/>
            <wsdl:output message="tns:downloadResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="mimeBind" type="tns:mimePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="upload">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <mime:multipartRelated>
                    <mime:part name="soap">
                        <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="issue" use="literal"/>
                        <soap:body parts="parameters" use="literal"/>
                    </mime:part>
                    <mime:part name="file">
                        <mime:content part="file" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="issue" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="download">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <mime:multipartRelated>
                    <mime:part name="soap">
                        <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                        <soap:body parts="parameters" use="literal"/>
                    </mime:part>
                    <mime:part name="file">
                        <mime:content part="file" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="mimeService">
        <wsdl:port binding="tns:mimeBind" name="mimeServicePort">
            <soap:address location="http://TURVASERVER/"/>
            <xrd:title>Maksu- ja Tolliameti X-tee teenused</xrd:title>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
